body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #444;
}

main {
    flex: 1 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    .circle {
        border-radius: 100%;
    }
    .center {
        margin: auto;
    }
    .rounded {
        border-radius: 10px;
    }
}

.justify {
    text-align: justify;
}

.inline-list {
    display: inline-flex;
}