<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <h6 class="bolder">
                    <i class="fas fa-map-marker"></i> 
                    {% if page.lang == "pt" %}
                        Endereço - Sede
                    {% elsif page.lang == "en"%}
                        Address - Headquarters
                    {% endif %}
                </h6>
                <ul>
                    <li>Av. Chai, Bairro Cariaco</li>
                    <li>Cidade de Pemba, Cabo Delgado, Moçambique</li>
                </ul>

                <h6 class="bolder">
                    <i class="fas fa-map-marker-alt"></i> 
                    {% if page.lang == "pt" %}
                        Sucursais - Representantes
                    {% elsif page.lang == "en"%}
                        Branches - Representatives
                    {% endif %}
                </h6>
                <ul>
                    <li>Maputo, Beira, Tete, Nampula e Nacala-Porto</li>
                </ul>
            </div>

            <div class="col s12 l4">
                <h6 class="bolder">
                    <i class="fas fa-headset"></i> 
                    {% if page.lang == "pt" %}
                        Centro de Apoio
                    {% elsif page.lang == "en"%}
                        Support Center
                    {% endif %}
                </h6>
                <ul>
                    <li>
                        <a class="white-text" href="tel:+258 272 20 162">+258 272 20 162</a>
                    </li>
                    <li>
                        <a class="white-text" href="tel:+258 272 20 166">+258 272 20 166</a>
                    </li>
                    <li>
                        <a class="white-text" href="tel:+258 87 074 4880">+258 87 074 4880</a>
                    </li>

                    <li>
                        <a class="white-text" href="mailto:{{ site.email | encode }}">{{ site.email }}</a>
                    </li>
                </ul>
            </div>

            <div class="col s12 l4">
                {% include contactos-socias.html %}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            &copy;{{ site.time | date: "%Y" }} {{ site.title }} - {{ site.description }}, Todos Direitos Reservados
        </div>
    </div>
</footer>
