<div class="navbar-fixed">
    <nav class="nav-extended white">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo">
                    <div class="hide-on-med-and-down">
                        <img src="/assets/img/brand/logo.png" alt="{{ site.title }}" class="responsive-img">
                    </div>
                    <div class="hide-on-large-only">
                        ROVUMA
                    </div>
                </a>
                <a data-target="sideNav" class="sidenav-trigger">
                    <i class="fas fa-2x fa-bars"></i>
                </a>

                <ul class="right hide-on-med-and-down">
                    {% include nav.html %}
                </ul>
            </div>
        </div>

        <div class="nav-content">
            <div class="container">
                <a href="#contactos" class="modal-trigger btn-floating btn-large halfway-fab waves-effect waves-light">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </nav>
</div>