<section id="parceiros" class="section scrollsp">
	<div class="container">
		<div class="row">
			<div class="col s12 l6">
				<h4 class="bolder section-title white-text">Parceiros</h4>
				<div class="carousel">
					{% for item in site.parceiros %}
						<a href="#parceiro{{ forloop.index }}" class="carousel-item">
							<img src="{{ item.image }}" alt="{{ item.title }}">
						</a>
					{% endfor %}
				</div>
			</div>

			<div class="col s12 l6">
				<h4 class="bolder section-title right-align white-text">Representantes</h4>
				<div class="carousel">
					{% for item in site.representantes %}
						<a href="#representantes{{ forloop.index }}" class="carousel-item">
							<img src="{{ item.image }}" alt="{{ item.title }}">
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>