<section class="section">
	<div class="row">
		<div class="container">
			<div class="col s12 l6">
				<h4 class="bolder center-on-small-only">Parceiros</h4>
				<section id="parceiros" class="section scrollspy">
					<div class="carousel">
						{% for item in site.parceiros %}
							<a href="#parceiro{{ forloop.index }}" class="carousel-item">
								<img src="{{ item.image }}" alt="{{ item.title }}">
							</a>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>

		<div class="container">
			<div class="col s12 l6">
				<h4 class="right-align center-on-small-only bolder">Representantes</h4>
				<section id="representantes" class="section scrollspy">
					<div class="carousel">
						{% for item in site.representantes %}
							<a href="#parceiro{{ forloop.index }}" class="carousel-item">
								<img src="{{ item.image }}" alt="{{ item.title }}">
							</a>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</div>
</section>