<section id="pessoal" class="section scrollspy vector-bg grey-text text-darken-4 center">
    <div class="container">
        <h4 class="bolder section-title">
            {% if page.lang == "pt" %}
                Nosso Pessoal
                {% elsif page.lang == "en" %}
                    Our Stuff
            {% endif %}
        </h4>
        <hr class="star">
        {% assign pessoal=site.pessoal | where:"lang", page.lang %}
        <div class="row slick">
            {% for item in pessoal %}
                <div style="padding: 20px">
                    <div class="card small hoverable">
                        <div class="card-image">
                            <img src="{{ item.image }}" alt="{{ item.title }}" class="responsive-img">
                        </div>
                        <div class="card-content">
                            <p class="bolder">{{ item.title }}</p>
                            <p class="light">{{ item.job_title }}</p>
                        </div>
                        <div class="card-action">
                            <a href="mailto:{{ item.email }}" title="Email" class="btn hide-on-small-only">{% if page.lang == "pt" %}Contacte-me{% elsif page.lang == "en" %} Contact me {% endif %} <i class="fas fa-envelope"></i></a>
                            <a href="tel:+258{{ item.phone }}" title="Email" class="btn hide-on-med-and-up">{% if page.lang == "pt" %}Contacte-me{% elsif page.lang == "en" %} Contact me {% endif %} <i class="fas fa-phone"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
