<section id="servicos" class="section scrollspy white-text primary-color">
	<div class="container">
		<h4 class="center-align bolder">Nossos Serviços</h4>
		<hr class="star">
		<div class="row">
			<div class="col s12 l6">
				<div class="single-item">
					{% for item in site.servicos %}
						<div>
							<img src="{{ item.image }}" alt="{{ item.title }}" class="responsive-ing">
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="col s12 l6">
				<div class="single-item">
					{% for item in site.servicos %}	
						<div>
							<p class="bolder"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</p>
							<div class="light justify">
								{{ item.content }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>