<section id="sobre" class="section scrollspy vector-bg grey-text text-darken-4">
    <div class="container">
        <h4 class="center-align bolder section-title">
            {% if page.lang == "pt" %}
                Sobre Nós
                {% elsif page.lang == "en" %}
                    About Us
            {% endif %}
        </h4>
        <hr class="star">
        <div class="row">
            {% assign sobre=site.sobre | where:"lang", page.lang %}
            {% for item in sobre limit: 1 %}
                <div class="justify">
                    {{ item.content }}
                </div>
            {% endfor %}
            <div class="center">
                {% if page.lang == "pt" %}
                    <a href="/assets/perfil.pdf" title="Perfil da Empresa" class="btn-large waves-effect waves-light">Saiba Mais <i class="fas fa-file-pdf"></i></a>
                    {% elsif page.lang == "en" %}
                        <a href="/assets/perfil.pdf" title="Company Profile" class="btn-large waves-effect waves-light">Know More <i class="fas fa-file-pdf"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="row slick-sobre">
            {% for item in sobre offset: 1 %}
                <div style="padding: 20px;">
                    <p class="bolder section-title"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</p>
                    <div class="light justify">
                        {{ item.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>