@charset "UTF-8";

.bolder {
    font-weight: bolder;
}


@import
    "base",
    "animate-bottom",
    "materialize/materialize",
    "profile",
    "parallax"
;

.primary-color {
    background-color: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.secondary-color {
    background-color: $primary-color;
}

.secondary-color-text {
    color: $primary-color;
}

.section-title {
    color: $primary-color;
}