@charset "UTF-8";

.bolder {
    font-weight: bolder;
}


@import
    "base",
    "animate-bottom",
    "materialize/materialize",
    "hr-star",
    "parallax"
;

.primary-color {
    background-color: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.secondary-color {
    background-color: $primary-color;
}

.secondary-color-text {
    color: $primary-color;
}

.section-title {
    color: $primary-color;
}

#servicos {
    .img-title {
        position: relative;

        h6 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bolder;
            color: #fff;
            text-shadow: 2px -2px #444;
        }
    }
}
